[main]
; deploy_key
; There's an assumption you're using a deploy key to clone and pull the 
; Git directories in question, the path to the private key must be specified here
deploy_key=/root/.ssh/git-deploy-key

; log_file
; Define the log file where output from the webhook will be saved, uses Python's 
; logging module 
log_file=/var/log/webhook-puppet.log

; log_max_size
; Max size in bytes that the log is allowed to get to, default is 50mb
log_max_size=50331648

; log_level
; Logging level, DEBUG is default or now
log_level=logging.DEBUG
